{% extends "templates/web.html" %}
<!-- breadcrumbs -->
<div class="page-breadcrumbs">
	{% block breadcrumbs %}
		<div class="page-breadcrumbs">
			<div class="breadcrumb-container container">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
							class="breadcrumb-item">
							<a itemprop="item" href="/job-vacancies">
								<span itemprop="name">Job Vacancies</span>
								<meta itemprop="position" content="1">
							</a>
						</li>
						<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
							class="breadcrumb-item active" aria-current="page">
							<span itemprop="item">
								<span itemprop="name">{{vacancy_title}}</span>
								<meta itemprop="position" content="2">
							</span>
						</li>
					</ol>
				</nav>
			</div>
		
		</div>
	{% endblock %}
</div>
{% block page_content %}

<div class="py-12">
	<!-- Header -->
	<div class="row">
		<div class="col-md-9 mb-8">
			<h1
				class="mt-0 mb-2 mb-md-3 mx-auto mx-md-0 text-center text-md-left"
				style="@include media-breakpoint-up(md) {font-size: 3rem}"
			>
				{{ vacancy_title }}
			</h1>
			<div class="flex align-items-center">
				<div class="mx-auto mx-md-0">
					<span class="font-weight-bold">{{ company }}</span>
					{{ " · " }}
					{{ creation.strftime('%Y-%m-%d') }}
				</div>
			</div>
		</div>
		<div class="col-md-3 flex">
			<div class="ml-auto d-none d-md-block">
				<!-- Local Email Client -->
				{%- if apply_button_function == "Local Email Client" -%}
					<a
						class="btn btn-primary btn-lg"
						onclick="ApplyByEmail()"
					>
						{{ _("Apply Now") }}
					</a>
				{% endif %}
				
				<!-- Referral -->
				{%- if apply_button_function == "Referral Dialogue" -%}
					<a 
						class="btn btn-primary btn-lg"
						onclick="ApplyByReferral()"
					>
						{{ _("Apply Now") }}
					</a>
				{% endif %}
				
				<!-- Application Web Form -->
				{%- if apply_button_function == "Application Web Form" -%}
				<a 
					class="btn btn-primary btn-lg"
					onclick="ApplyByWebForm()"
				>
					{{ _("Apply Now") }}
				</a>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Job Opening Details -->
	<div class="mb-md-4 p-md-4">
		<div class="row">
			{%- if location -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--purple-50)">
							<svg
								class="icon"
								style="height: 28px; width: 28px"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 16 16"
							>
								<g stroke="var(--purple-700)" stroke-miterlimit="10">
								<path d="M11.467 3.458c1.958 1.957 1.958 5.088.027 7.02L7.97 14l-3.523-3.523a4.945 4.945 0 010-6.993l.026-.026a4.922 4.922 0 016.993 0zm0 0c-.026-.026-.026-.026 0 0z">
								</path>
								<path d="M7.971 8.259a1.305 1.305 0 100-2.61 1.305 1.305 0 000 2.61z"></path>
								</g>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Location") }}</div>
							<div class="font-weight-bold">{{ location }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{%- if department -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--blue-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--blue-700)"
							>
								<use href="#icon-branch"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Department") }}</div>
							<div class="font-weight-bold">{{ department }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{%- if publish_salary_range -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--green-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--green-700)"
							>
								<use href="#icon-income"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Salary Range") }}</div>
							<div class="font-weight-bold">
								{%- if lower_range -%}
									{{ frappe.format_value(frappe.utils.flt(lower_range) , currency=currency) }}
								{% endif %}
								{%- if lower_range and upper_range -%}
									{{ " - " }}
								{% endif %}
								{%- if upper_range -%}
									{{ frappe.format_value(frappe.utils.flt(upper_range) , currency=currency) }}
								{% endif %}
								/
								{{ salary_per.lower() }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{%- if employment_type -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--yellow-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--yellow-700)"
							>
								<use href="#icon-hr"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Employment Type") }}</div>
							<div class="font-weight-bold">{{ employment_type }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{%- if publish_applications_received -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--orange-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--orange-700)"
							>
								<use href="#icon-users"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Applications Received") }}</div>
							<div class="font-weight-bold">{{ no_of_applications }}</div>
						</div>
					</div>
				</div>
			{%- endif -%}

			{%- if (status == 'Open' and closes_on) or (status == 'Closed' and closed_on) -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--red-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--red-700)"
							>
								<use href="#icon-calendar"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div
								class="text-secondary text-uppercase"
								style="font-size: 11px"
							>
								{{ _("Closes On") if status == "Open" else _("Closed On") }}
							</div>
							<div class="font-weight-bold">
								{{ frappe.utils.format_date(closes_on if status == "Open" else closed_on, "d MMM, YYYY") }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{%- if vacancy_details -%}<p>{{ vacancy_details }}</p>{% endif %}

	<!-- Mobile Apply Now Button -->
	<div id="sticky-div" class="crew_position-sticky d-md-none" style="bottom: 0; ">
		<div class="w-100 bg-white py-8">
			{%- if apply_button_function == "Local Email Client" -%}
				<a
					class="btn btn-primary btn-lg w-100"
					onclick="ApplyByEmail()"
				>
					{{ _("Apply Now") }}
				</a>
			{% endif %}
			{%- if apply_button_function == "Referral Dialogue" -%}
				<a
					class="btn btn-primary btn-lg w-100"
					onclick="ApplyByReferral()"
				>
					{{ _("Apply Now") }}
				</a>
			{% endif %}
			{%- if apply_button_function == "Application Web Form" -%}
				<a
					class="btn btn-primary btn-lg w-100"
					onclick="ApplyByWebForm()"
				>
					{{ _("Apply Now") }}
				</a>
			{% endif %}
		</div>
	</div>
</div>

<script>
	function ApplyByEmail() {
		var vacancy_title = "{{vacancy_title}}"
		var company = "{{company}}"
		frappe.confirm('Continue to open Local Email Client?',
			() => {
				frappe.call({
					method: "theflyingfish.the_flying_fish.doctype.job_vacancy.job_vacancy.get_email_template",
					args: {},
					callback: (r) => {
						if (r.message) {
						template = r.message.email_template
						let emailBody = template
							.replace(/\{\{company\}\}/g, company)
							.replace(/\{\{vacancy_title\}\}/g, vacancy_title)
							.replace(/<[^>]*>/g, ''); // Remove any HTML tags
					
						const from = frappe.session.user_email
						const to = "{{email_id}}"
						const subject = encodeURIComponent("{{ vacancy_title }} Job Offer");
						const body = encodeURIComponent(emailBody);
						const mailto_link = `mailto:?subject=${subject}&body=${body}&from=${from}&to=${to}`;
						window.location.href = mailto_link;
						} else {
							frappe.throw(__('Email template not found'));
						}
						
					}
				})

			}, () => {
				// action to perform if No is selected
		});
	}

	function ApplyByReferral() {
		frappe.confirm('<strong>Continue to Redirect to Job Poster Site?</strong>\n{{referral_url}}',
			() => {
				window.open("{{referral_url}}", "_blank");
			}, () => {
				// action to perform if No is selected
		});
	}
	function ApplyByWebForm(){
		frappe.confirm('<strong>Open Application Web Form | Coming Soon!</strong>',
			() => {

			}, () => {
				
		})
	}
	
</script>

{% endblock page_content %}

{%- block script %}
	{% if colocated_js -%}
		<script>{{ colocated_js }}</script>
	{%- endif %}
	<script type="text/javascript" src="/assets/frappe/dist/js/libs.bundle.LLRFRX7M.js"></script>
	<script type="text/javascript" src="/assets/frappe/dist/js/desk.bundle.S5ATQFQO.js"></script>
	<script type="text/javascript" src="/assets/frappe/dist/js/controls.bundle.5D7J45WA.js"></script>
{%- endblock %}
